.active{
	transition-duration: 0.50s;
	color: forestgreen;
}
.slider{
	/*border: 2px solid #000;*/
	width: 85%;
	height: 400px;
	margin: 30px auto;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	column-gap: 50px;


}
.ionicon{
	/*background: red;*/
	color: #ccc;
	z-index: 1;
	position: absolute;
	height: 75%;
	width: 50px;
	cursor: pointer;
}
img{
	border-radius: 10px;
}
#fle-left{
	left: -50px;

}
#fle-right{
	right: -50px;
	transform: rotate(180deg);
}
#imgleft{
	position: absolute;
	left: 0;
	
}
#imgcenter{
	position: absolute;
	z-index: 1;

}
#imgright{
	position: absolute;
	right: 0;
}
.coment{
	text-align: center;
	width: 30%;
	position: absolute;
	bottom: -20px;
}
#boxInput{
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
	text-align: center;
}

#inputBuscar{
	width: 40%;
	border: none;
	border-bottom: 1px solid #000;
	text-transform: capitalize;

	
}

#lupita{
	align-self: stretch;
	position: absolute;
	height:23px;
	right: 270px;
	/*top: 2px;	*/
}
.hidden{
	display: none;
}
.muestra{
	display: flex;
	justify-content: space-around;

	margin-right: 10px;
	width: 100px;
	height: 30px;
	border-bottom: 3px solid #E0B067;
}

.equis{
	position: relative;
	top: 2px;
	right: -10px;
	cursor: pointer;
}
#pestaña p{
	text-transform: capitalize;
	font-family: serif;
	font-size: 1.1em;
	
}
.bed{
	position: relative;
	left: -20px;
	top: 2px;

}
.dormitorios p{
	position: relative;
	left: -20px;
	display: block;
}
.dormitorios{
	width: 195px;
}
.zona{
	position: relative;
	width: 100px;
}
.zona p{
	position: relative;
	left: 10px;
}
.brujula{
	position: absolute;
	left: -15px;
	top: 2px;
}